*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(sky.jpeg);
    background-size: cover;
    background-position: center;
}
.container{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.bubble{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bubble span{
    position: relative;
    width: 30px;
    height: 30px;
    background: #4fc3dc;
    margin: 0 4px;
    border-radius: 50%;
    box-shadow: 
    0 0 0 10px #4fc3dc44,
    0 0 50px #4fc3dc,
    0 0 100px #4fc3dc;
    animation: rd 15s linear infinite;
    animation-duration: calc(10s / var(--i));
}
.bubble span:nth-child(even){
    background: #ff2d75;
    box-shadow: 
    0 0 0 10px #ff2d7544,
    0 0 50px #ff2d75,
    0 0 100px #ff2d75;
}
@keyframes rd{
    0%{
        transform: translateY(100vh) scale(0.1);
    }
    100%{
        transform: translateY(-10vh) scale(1);
    }
}
.r{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

}
@media  (max-width:640px){
    #box1,#box2,#box3,#box4,#box5,
    #box20,#box19,#box18,#box17,#box16{
        display: none;
    }
}